.btn-buy {
    background: navy;
    color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    display: block;
}

.btn-buy:hover {
    background: white;
    color: navy;
}