<div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-header text-white bg-info text-center">
            <h4>User Profile</h4>
          </div>
          <div class="card-body text-center">
            <img src="https://avatarfiles.alphacoders.com/171/171996.jpg" class="rounded-circle mb-3" alt="User Avatar" style="width: 150px; height: 150px;">
            <h5 class="card-title">I'm Venom</h5>
            <p class="card-text">Email: venomisthebest&#64;gmail.com</p>
            <strong><p class="card-text">"One last dance!?"</p></strong>
            <p class="card-text">Role: Admin</p>
            <button class="btn btn-outline-info">Edit Profile</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  