.color-options span {
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #ddd;
    margin-right: 5px;
    text-decoration: line-through;
    color: gray;
}

.size-options button {
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    background: #f0f0f0;
    cursor: pointer;
    margin-left: 4px;
}